:root {
  --brown: #2D303A;
  --pink: #F06C64;
  --almost-white: #F2F2F2;
  --text-color: #666D89
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1024px;
}

/*   ***    ***   **********       ***       ******       **********   *******
     ***    ***   **********     *** ***     ***  ***     **********   ***  *** 
     ***    ***   ***           ***   ***    ***   ***    ***          ***    ***
     **********   **********   ***     ***   ***    ***   **********   ***   ***
     **********   **********   ***********   ***    ***   **********   *******
     ***    ***   ***          ***********   ***   ***    ***          ***  ***
     ***    ***   **********   ***     ***   ***  ***     **********   ***   ***
     ***    ***   **********   ***     ***   ******       **********   ***    ***
     
*/

.header {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  align-items: center;
  padding: 20px 40px 24px 40px;
  background: var(--brown);
  font-family: 'Lato', sans-serif;
}


.header-logo {
  color: #ffffff;
  font-size: 23px;
  line-height: 20px;
  font-weight: 600;
}

.header-logo::after {
  content: '*';
  color: var(--pink)
}

.header-navigation {
  width: 400px;
  margin-left: 440px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.header-navigation_link {
  position: relative;
  top: 5px;
  text-decoration: none;
  font-size: 11.5px;
  color: #fff;
  margin: 0 12px;
  font-weight: 700;
}

.header-navigation_link::before {
  position: relative;
  right: 12px;
  bottom: 3px;
  color: gray;
  content: '.';
  font-size: 20px;
}

.header-navigation_link:first-child::before {
  content: '';
}

 

.header-navigation_link:hover {
  cursor: pointer;
  color: var(--pink)
}

/*   **********   ***          ***********   ******       **********   *******
     ***    ***   ***          **  ***  **   ***  ***     ***    ***   ***  *** 
     ***          ***              ***       ***   ***    ***          ***    ***
     **********   ***              ***       ***    ***   **********   ***   ***
     **********   ***              ***       ***    ***   **********   *******
            ***   ***              ***       ***   ***    ***          ***  ***
     ***    ***   ***    ***   **  ***  **   ***  ***     ***    ***   ***   ***
     **********   **********   ***********   ******       **********   ***    ***
     
*/

section.slider {
  background: var(--pink);
  position: relative;
  z-index: 1;
  height: 600px;
}

.slider__phone-image{
  position: relative;
  background-size: cover;
}

.vertical-phone-image {
  left: 111px;
  top: 52px;
  height: 485px;
  width: 240px;
}

.horizontal-phone-image {
  position: absolute;
  left: 426px;
  top: 173px;
  height: 240px;
  width: 485px;
}

.slider__phone-image__base {
  position: absolute;
  z-index: 2;
}

.vertical-base {
  height: 459px;
  width: 216px;
  content: url('./assets/iPhone_Vertical/base.png');
}

.horizontal-base {
  height: 216px;
  width: 459px;
  content: url('./assets/iPhone_Horizontal/base.png');
}

.slider__phone-image__screen {
  position: absolute;
  z-index: 3;
  border: 2px solid #2D303A;
}

.vertical-screen {
  width: 188px;
  height: 333px;
  left: 15px;
  top: 65px;
  background: url(./assets/iPhone_Vertical/screen.png);
  background-position-x: 566px;
  background-position-y: -134px;
}

.horizontal-screen {
  width: 333px;
  height: 188px;
  left: 58px;
  top: 13px;
  background: url(./assets/iPhone_Horizontal/screen.png);
  background-position-x: 454px;
  background-position-y: -119px;
}

.slider__phone-image__cam {
  position: relative;
  z-index: 3;
}

.vertical-cam {
  width: 11px;
  height: 11px;
  background: url(./assets/iPhone_Vertical/Cam/outer_circle.png);
  top: 16px;
  left: 103px
}

.horizontal-cam {
  width: 11px;
  height: 11px;
  background: url(./assets/iPhone_Vertical/Cam/outer_circle.png);
  top: 104px;
  left: 430px
}


.slider__phone-image__cam__dot {
  position: relative;
  width: 6px;
  height: 6px;
  background: url(./assets/iPhone_Vertical/Cam/red_dot.png);
}

.vertical-cam__dot {
  top: 2px;
  left: 2px;
}

.horizontal-cam__dot {
  top: 2px;
  left: 2px;
}

.slider__phone-image__speaker {
  position: absolute;
  z-index: 3;
}

.vertical-speaker {
  top: 36px;
  left: 91px;
  width: 37px;
  height: 6px;
  background: url(./assets/iPhone_Vertical/speaker.png);
}

.horizontal-speaker {
  top: 90px;
  left: 415px;
  width: 6px;
  height: 37px;
  background: url(./assets/iPhone_Horizontal/speaker.png);
}

.slider__phone-image__home-button {
  position: absolute;
  z-index: 3;
  width: 44px;
  height: 44px;
  background: url(./assets/iPhone_Vertical/Home_button/circle.png);
}

.vertical-home-button {
  left: 86px;
  top: 408px;
}

.horizontal-home-button {
  left: 7px;
  top: 86px;
}

.slider__phone-image__home-button__square {
  position: relative;
  width: 18px;
  height: 18px;
  background: url(./assets/iPhone_Vertical/Home_button/square.png);
}

.vertical-home-button__square {
  top: 12px;
  left: 12px;
}

.horizontal-home-button__square {
  top: 12px;
  left: 12px;
}

.slider__phone-image__shadow {
  position: absolute;
  opacity: 0.2;
}

.vertical-shadow {
  height: 483px;
  width: 240px;
  content: url('./assets/iPhone_Vertical/shadow.png');
}

.horizontal-shadow {
  height: 240px;
  width: 483px;
  content: url('./assets/iPhone_Horizontal/shadow.png');
}

.slider-buttons {
  position: absolute;
  top: 243px;
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
}

.left-arrow-container {
  grid-column: 1;
  background: url('./assets/left_arrow.png') no-repeat center;
  background-position-x: 40px;
  transition-duration: 0.2s;
}

.left-arrow-container:hover {
  background-position-x: 30px;
  cursor: pointer;
}

.right-arrow-container {
  grid-column: 3;
  background: url('./assets/right_arrow.png') no-repeat center;
  background-position-x: 40px;
  transition-duration: 0.2s;
}

.right-arrow-container:hover {
  background-position-x: 50px;
  cursor: pointer;
}

/*   **********   **********   ********      ***      ***   ***   **********   **********   **********
     ***    ***   ***    ***   ***   ***     ***      ***   ***   ***    ***   ***    ***   ***    *** 
     ***          ***          ***    ***     ***    ***    ***   ***          ***    ***   ***
     **********   ***          ***  ***       ***    ***    ***   ***          ******       **********
     **********   *********    *** ***         ***  ***     ***   ***          ******              ***
            ***   ***          ***   ***       ***  ***     ***   ***    ***   ***                 ***
     ***    ***   ***    ***   ***     ***      ******      ***   ***    ***   ***    ***   ***    ***
     **********   **********   ***     ***       ****       ***   **********   **********   **********
     
*/

section.services {
  background-color: var(--almost-white);
  color: var(--text-color);
  font-family: 'Lato', sans-serif;
}

.services__head-info {
  padding: 36px 40px 10px 40px;
}



.section-header {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: -1px;
}

.services__head-info p {
  letter-spacing: 0.4px;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  margin-top: -8px;
}

.services__info-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 30px;
}

.services__info-cards__card {
  width: 320px;
  height: 90px;
  position: relative;
  margin-bottom: 35px;
}

.services__info-cards__card h5 {
  position: absolute;
  margin: 0;
  left: 91px;
  top: 15px;
  font-size: 17px
}

.services__info-cards__card p {
  position: absolute;
  margin: 0;
  left: 91px;
  top: 45px;
  font-size: 12px;
  line-height: 20px;
}

.services__info-cards__card .__logo {
  position: absolute;
  top: 17px;
  left: 10px;
  width: 56px;
  height: 56px;
  border: 2px solid var(--text-color);
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position-x: 11px;
  background-position-y: 12px;
}

.services__info-cards__card:nth-child(1) .__logo {
  background-image: url(./assets/services/pen.png);
}

.services__info-cards__card:nth-child(2) .__logo {
  background-image: url(./assets/services/blub.png);
  background-position-x: 15px;
}

.services__info-cards__card:nth-child(3) .__logo {
  background-image: url(./assets/services/heart.png);
  background-position-y: 15px;
}

.services__info-cards__card:nth-child(4) .__logo {
  background-image: url(./assets/services/phone.png);
  background-position-x: 16px;
}

.services__info-cards__card:nth-child(5) .__logo {
  background-image: url(./assets/services/bubble.png);
}

.services__info-cards__card:nth-child(6) .__logo {
  background-image: url(./assets/services/star.png);
}